.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.form-list label {
  display: inline-block;
  margin-top: 4px;
  vertical-align: middle;
  margin-bottom: 0;
}
ul.form-list input {
  margin-top: 0;
  vertical-align: middle;
}
.note-editor .note-toolbar {
  margin: 0;
}
.summernote {
  min-height: 300px;
}
